<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prerequisites Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form_style.css') }}">
</head>

<body class="bodyPRQ">
    <div class="formHero">
        <form action="{{ url_for('fill_out_form', user=current_user, disease=selected_disease, package_id=package_id) }}" enctype="multipart/form-data" method="POST">
            <p>Fullname:</p>
            <input placeholder="firstname" class="normalInput" type="text" name="firstname">
            <input placeholder="lastname" class="normalInput" type="text" name="lastname">
            <p>Country:
                <input class="normalInput" type="text" name="country">
            </p>
            <p>Zipcode:
                <input class="normalInput" type="text" name="zipcode" placeholder="Example: 96162">
            </p>
            <p>Description:</p>
            <textarea class=descBox name="extraDescription" cols="80vw" rows="10" placeholder="Please enter your description"></textarea>
            <p class="uploadNote">*please upload prerequisites for this package below:</p>
            <input id="uploadAct" type="file" name="file">
            <label class="uploadButton" for="uploadAct">Upload File</label>
            <input class="submitButton" type="submit" name="action" value="Submit">
            <input class="cancelButton" type="submit" name="action" value="Cancel">
        </form>
    </div>
</body>

</html>
