<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login_style.css') }}">
    <title>Login</title>
</head>

{% if is_message == 1 %}
    <script>
        alert('⛔ Access to the site is restricted to registered users only. Please sign up or log in to continue using the site.')
    </script>
{% endif %}

{% if stat == -1 %}
    <script>
        alert('⛔ Sorry, but you do not have membership access to our website.')
    </script>
{% elif stat == -2 %}
    <script>
        alert('⚠️ The password you entered is incorrect. Please try again.')
    </script>
{% endif %}

<body>
    <div class="loginbar">
        <form action="{{ url_for('login') }}" method="POST">
            <input type="hidden" name="form" value="login"><br>
            <p class="params">Username:</p>
            <input class="lbox" type="text" name="Username" placeholder="Enter Username" required>
            <p class="params">Password:</p>
            <input class="lbox" type="password" name="Password" placeholder="Enter Password" required> <br />  
            <p class="params" style="color:rgb(13, 13, 80);"> Don't have an account? <a href="{{ url_for('signup') }}"> Sign up </a></p>
            <input class="loginbutton" type="submit" value="Login">
        </form>
    </div>
</body>

</html>
