<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Package | Packages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/packages_style.css') }}">
</head>

<h2 class="heroText">List of Packages:</h2>
<body>
    <div class="backHero">
        {% for p in packages %}
            <div class="listItem">
                <img class="doctorHero" src="{{ url_for('static', filename='images/doctor.png') }}" alt="doctors"><br />
                <ul>
                    {% for i in range(7) %}
                        <li class="listDesc">{{p[i+1]}}</li>
                    {% endfor %}
                </ul>
                <form action="/submit" method="POST`">
                    <input type="hidden" name="data" placeholder="EnterData">
                    <button class="chooseButton" type="submit">Choose</button>
                </form>
            </div>
        {% endfor %}
    </div>
</body>

</html>
