<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Package | Packages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/packages_style.css') }}">
</head>

<h2 class="heroText">List of Packages:</h2>
<body>

    <div class="backHero">
        {% for p in packages %}
            <div class="listItem">
                <img class="doctorHero" src="{{ url_for('static', filename='images/doctor.png') }}" alt="doctors"><br />
                <ul>
                    <li class="listDesc">Disease: {{p[1]}}</li>
                    <li class="listDesc">Iran Province: {{p[6]}}</li>
                    <li class="listDesc">Hospital: {{p[4]}}</li>
                    <li class="listDesc">Start Date: {{p[2]}}</li>
                    <li class="listDesc">Finish Date: {{p[3]}}</li>
                    <li class="listDesc">Doctor: {{p[5]}}</li>
                    <li class="listDesc">Price: {{p[7]}}</li>
                </ul>

                <form id="myForm" action="{{ url_for('choose_package', user=current_user, disease=selected_disease) }}" method="POST">
                    <input type="hidden" name="package" value="{{p[0]}}" placeholder="EnterData">
                </form>

                <script>
                    function submitForm() {
                      document.getElementById("myForm").submit();
                    }
                  </script>

                <button onclick="submitForm()" class="chooseButton" type="submit">Choose</button>
            </div>
        {% endfor %}

        {% if is_empty %}
            <h1 style="color:red;">
                Unfortunately, there is no specialist with free time for the disease you selected. <br />
                back to <a href="{{ url_for('choose_disease', user=current_user) }}">choose disease</a> page.
            </h1>
        {% endif %}
    </div>

</body>

</html>
