<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Packages</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/verify_style.css') }}">

</head>

<body>
    <div class="firstHero">List of Documents to be Verified</div>
    <div class="listContainer">
        <div class="listItemContainer">
            
            {% for d in docs %}
                <div class="listItem">
                    <div class="profileContainer">
                        <img class="profileClass" src="{{ url_for('static', filename='images/profile.png') }}" alt="patient's profile">
                    </div>
                    <p class="patientSpecs">Fullname: {{d[1]}} {{d[2]}}</p>
                    <p class="patientSpecs">Country: {{d[3]}}</p>
                    <p class="patientSpecs">Zipcode: {{d[4]}}</p>
                    <p class="patientSpecs">Disease: {{d[5]}}</p>
                    <p class="patientSpecs">Description: {{d[6]}}</p>
                    
                    <div class="docBigContainer">
                        <div class="docContainer">
                            <a class="docButton" onclick="checkString('{{d[7]}}')">Documents</a>
                            <script>
                                function checkString(filePath) {
                                    if (filePath.trim() === '!') {
                                        alert('⚠️ No documents have been uploaded by the patient!');
                                    } else {
                                        var downloadUrl = "{{ url_for('download_file', filename='__PLACEHOLDER__') }}";
                                        window.location.href = downloadUrl.replace('__PLACEHOLDER__', encodeURIComponent(filePath));
                                    }
                                }
                            </script>
                        </div>
                    </div>
                    <div class="verifyBigContainer">
                        <form id="myForm" action="{{ url_for('verify_document', user=current_user) }}" method="POST">
                            <input type="hidden" name="patient_id" value="{{d[0]}}">
                        </form>

                        <script>
                            function submitForm() {
                              document.getElementById("myForm").submit();
                            }
                        </script>

                        <input onclick="submitForm()" class="verifyButton" type="submit" />
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</body>

</html>
